// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/reset";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/variables";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

html {
  font-size: 10px;
  @media (max-width: 1440px) {
    font-size: calc(5px + (10 - 5) * ((100vw - 320px) / (1440 - 320)));
  }
}

body {
  font: var(--font-1);
  background-color: var(--color-2);
  color: var(--color-1);
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  &::-webkit-scrollbar {
    background-color: var(--color-7);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-9);
    border-radius: 10px;
    transition: background-color var(--transition-1);
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-14);
      }
    }
  }
  &::-webkit-scrollbar-track {
  }
  &::-webkit-scrollbar-button {
  }
  &.__lock {
    overflow: hidden;
  }
}

.section {
  padding: 8rem 0;
}

// .container {
//   max-width: 1170px;
//   margin: 0 auto;
//   padding: 0 10px;
// }

[class*="__container"] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  transition: opacity var(--transition-1);
  @media (any-hover: hover) {
  &:hover {
  opacity: 0.5;
  }
  }
}

.title-1 {
  font: var(--font-9);
}
.title-2 {
  margin-bottom: 2.4rem;
}
.title-3 {
  text-align: center;
}
.subtitle-1 {
  font: var(--font-3);
  text-align: center;
}
.list-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin-bottom: 10rem;
  @media (max-width: 768px) {
    font: 500 12px / calc(14 / 12 * 100%) "Inter";
  }
  li {
    border-radius: 30px;
    padding: 0.8rem 1.6rem 0.8rem 5rem;
    &:nth-child(1) {
      background: rgba(0, 0, 0, 0.05) url(../img/timer.svg) left 1.6rem top 50%/2.4rem no-repeat;
    }
    &:nth-child(2) {
      background: rgba(0, 0, 0, 0.05) url(../img/forkknife.svg) left 1.6rem top 50%/2.4rem no-repeat;
    }
  }
}
.list-2 {
  margin: 0;
  li {
    padding: 0.8rem 1.6rem 0.8rem 3.4rem;
    &:nth-child(1) {
      background: rgba(0, 0, 0, 0.05) url(../img/timer.svg) left 0 top 50%/2.4rem no-repeat;
    }
    &:nth-child(2) {
      background: rgba(0, 0, 0, 0.05) url(../img/forkknife.svg) left 0 top 50%/2.4rem no-repeat;
    }
  }
}

.section-list {
  display: grid;
  gap: 4rem;
  @media (max-width: 1200px) {
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
  > li {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }
  input {
    position: absolute;
    z-index: 1;
    top: 2rem;
    right: 2rem;
    // background-color: var(--color-2);
    border-radius: 50%;
    transition: background var(--transition-1), background-color var(--transition-1);
    
    width: 4.8rem;
    height: 4.8rem;
    background: var(--color-2) url(../img/heart.svg) 50% 50%/2.4rem no-repeat;
    @media (any-hover: hover) {
    &:hover {
    background-color: var(--color-7);
    }
    }
    &:checked {
      animation: heartAnimation 0.6s ease-in-out forwards;
      background: var(--color-2) url(../img/heart-active.svg) 50% 50%/2.4rem no-repeat;
      @media (any-hover: hover) {
      &:hover {
      background-color: var(--color-7);
      }
      }
    }
    @media (max-width: 480px) {
      width: 8rem;
      height: 8rem;
      background: var(--color-2) url(../img/heart.svg) 50% 50%/4rem no-repeat;
      &:checked {
        background: var(--color-2) url(../img/heart-active.svg) 50% 50%/4rem no-repeat;
      }
    }

  }
  .list-1 {
    margin: 0;
    @media (max-width: 1200px) {
      gap: 0;
    }
    @media (max-width: 1200px) {
      flex-direction: column;
    }
    li {
      align-self: start;
      position: sticky;
      left: 0;
      background-color: transparent;
    }
  }
}

@keyframes heartAnimation {
  0% {
      transform: scale(0);
  }
  50% {
    transform: scale(1.2);
}
  100% {
      transform: scale(1);
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// responsive

.responsive-1 {
  overflow: hidden;
  img,
  picture,
  svg,
  video,
  iframe,
  source {
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }
}
.responsive-2 {
  overflow: hidden;
  position: relative;
  img,
  picture,
  svg,
  video,
  iframe,
  source {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// display
.display-grid-1 {
  display: grid;
  grid-gap: 20px;
  @media (min-width: 993px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.display-webkit-box-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// link
.link-1 {}
.link-2 {
  // background: 50% 50%/3rem no-repeat;
  color: gold;
  &__svg {
    fill: currentColor;
  }
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
.button-1 {
  padding: 10px 15px;
  background-color: gray;
  color: white;
  text-transform: uppercase;
  &.__active {
    background-color: brown;
  }
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
.smok {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/hover";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/animate-on-scroll";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/figures";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/toggle";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// infinite scroll

.load-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.load-list__item {
  margin: 5px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}
.load-button {
  width: 50px;
  height: 50px;
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

.dt-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 200vw;
  height: 200vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-2);
  background-color: rgba(0, 0, 0, 0.5);
  &.__active {
    z-index: 10;
    opacity: 1;
    visibility: visible;
  }
}
