<section class="home">
  <div class="home__container">
    <div class="home__information">
      <p class="home__recipes">Hot Recipes</p>
      <h1>Spicy delicious chicken wings</h1>
      <p class="home__text">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
      <ul class="list-1">
        <li>
          <span>30 Minutes</span>
        </li>
        <li>
          <span>Chicken</span>
        </li>
      </ul>
      <div class="home__bottom">
        <div class="home__bottom-user">
          <div>
            <img src="img/home-user.jpg" loading="lazy" alt="image">
          </div>
         <div>
          <p>John Smith</p>
          <p>15 March 2022</p>
         </div>
        </div>
        <a href="#" target="_blank" >View Recipes</a>
      </div>
    </div>
    <div class="home__cool responsive-1">
      <img src="img/home-cool.jpg" loading="lazy" alt="image">
    </div>
    <div class="home__image responsive-1">
      <img class="" src="img/home-img.jpg" loading="lazy" alt="image">
    </div>
  </div>
</section>