// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// footer

footer {
  padding: 8rem 0 0 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 6rem;
  padding-bottom: 4.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  p {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.6);
    font: var(--font-3);
  }
  nav {
    font: var(--font-2);
  }
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

.footer-bottom {
  padding: 4.8rem 10px;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  justify-content: center;
  // gap: 33.8rem;
  gap: 6rem;
  align-items: center;
  position: relative;
  p {
    // align-self: center;
    // margin-left: auto;
    // flex: 1 1 auto;
    color: rgba(0, 0, 0, 0.6);
    font: var(--font-10);
    letter-spacing: -0.02em;
    span {
      color: var(--color-6);
    }
  }
  .socials {
   @media (min-width: 1201px) {
    position: absolute;
    right: 10px;
   }
    // align-self: flex-end;
    // margin-left: auto;
    // flex: 1 1 auto;
  }
}