// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// about

.home {
  margin-bottom: 8rem;
  &__container {
    border-radius: 60px;
    overflow: hidden;
    // display: grid;
    display: flex;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      gap: 30px;
    }
    position: relative;
    // @media (min-width: 1201px) {
    //   // grid-template-columns: repeat(2, 1fr);
    //   grid-template-columns: 1fr 660px;
    // }
  }
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

  &__information {
    flex: 1 1 auto;
    background-color: var(--color-7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    // @media (max-width: 1200px) {
    //   padding: 5rem 220px 5rem 5rem;
    // }
  }
  &__recipes {
    align-self: start;
    border-radius: 30px;
    padding: 10px 20px 10px 57px;
    margin-bottom: 3.2rem;
    background: var(--color-2) url(../img/recipes-icon.svg) left 20px top 50%/24px no-repeat;
    filter: drop-shadow(10px 20px 40px rgba(41, 64, 70, 0.1));
  }
  h1 {
    font: var(--font-15);
    margin-bottom: 2.4rem;
  }
  &__text {
    font: var(--font-3);
    margin-bottom: 3rem;
  }
  a {
    padding: 1.8rem 75px 1.8rem 37px;
    color: var(--color-2);
    background: var(--color-1) url(../img/play-icon.svg) right 36px top 50%/24px no-repeat;
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color var(--transition-1);
    @media (any-hover: hover) {
    &:hover {
    background-color: var(--color-9);
    }
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__bottom-user {
    display: flex;
    align-items: center;
    gap: 16px;
    div {
      &:nth-child(1) {
        flex: 0 0 50px;
        height: 50px;
      }
      &:nth-child(2) {
        p {
          &:nth-child(1) {
            font: var(--font-11);
          
          }
        }
      }
    }
  }

  &__cool {
    position: absolute;
   @media (min-width: 1201px) {
    top: 50px;
    left: 56rem;
   }
    // inset: 50px 56rem 0 0;
    // transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    @media (max-width: 1200px) {
      // right: 20px;
      // bottom: 20px;
      top: 20px;
      right: 20px;
      // opacity: 0.8;
      width: 10rem;
      height: 10rem;
      z-index: 1;
    }
  }

  &__image {
    flex: 0 0 660px;
    width: 100%;
    // height: 400px;
    object-fit: cover;
    @media (max-width: 1200px) {
      // border-radius: 50%;
      // flex: 0 0 200px;
      position: absolute;
      top: 0;
      right: 10px;
      width: 250px;
      height: 250px;
      border-radius: 60px 0 60px 60px;
      opacity: 0.4;
    }
  }
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
